.jumbotron{
    background-color: rgb(92, 205, 224);
    color: rgb(185, 44, 51);
    text-align: center;
}

.Log {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    
}